#playground{
	background-color: #e0ffe0;
	width: 400px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

#ball{
	background-color: #fbb;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 150px;
	top: 100px;
	border-radius: 10px;
}

.paddle{
	background-color: #bbf;
	position: absolute;
	left: 50px;
	top: 70px;
	width: 30px;
	height: 70px;
}

#paddleB{
	left: 320px;
}
